@import "~vuetify/dist/vuetify.css";


.fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.list-item {
    display: inline-block;
    margin-right: 10px;
}
.list-enter-active, .list-leave-active {
    transition: all .5s;
}
.list-enter, .list-leave-to{
    opacity: 0;
    transform: translateY(30px);
}
.v-card--material-stats{
  	display: flex;
  	flex-wrap: wrap;
  	position: relative;
 	div:first-child{
 		justify-content: space-between
 	}

}
.v-card{
    border-radius: 4px;
    flex: 0 1 auto;
}
.v-card__text{
    display: inline-block;
    flex: 1 0 calc(100% - 120px);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.v-card__actions{
    flex: 1 0 100%
}
.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab),
.v-btn.v-size--large:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 0 30px !important;
}
.theme--light.v-list-item .v-list-item__action-text,
.theme--light.v-list-item .v-list-item__subtitle {
    color: #999;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: #d2d2d2;
}
.v-label.v-label,
.v-alert.v-alert {
    font-size: 14px;
}
.theme--light .v-content, .theme--light .v-main {
    background-color: #eee;
}

.v-card--material-stats {
    display: flex;
    flex-wrap: wrap;
    position: relative; }
.v-card--material-stats > div:first-child {
    justify-content: space-between;
}
.v-card--material-stats .v-card {
    border-radius: 4px;
    flex: 0 1 auto;
}
.v-card--material-stats .v-card__text {
    display: inline-block;
    flex: 1 0 calc(100% - 120px);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.v-card--material-stats .v-card__actions {
    flex: 1 0 100%;
}
p {
    color: #999;
}
.v-card--material__heading {
    max-height: 185px;
}
.v-card--material__heading .ct-label {
    color: inherit;
    opacity: .7;
    font-size: 0.975rem;
    font-weight: 100;
}
.v-card--material__heading .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}
.v-card--material__heading .ct-series-a .ct-point,
.v-card--material__heading .ct-series-a .ct-line,
.v-card--material__heading .ct-series-a .ct-bar,
.v-card--material__heading .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
}
.v-card--material__heading .ct-series-a .ct-slice-pie,
.v-card--material__heading .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
}
.v-content__wrap .container--fluid {
    padding-left: 30px;
    padding-right: 30px;
}
.v-application .headline {
    font-size: 25px !important;
    padding-bottom: 0;
}
.v-application .black--text {
    color: #333 !important;
}
.v-application .small {
    font-weight: 300;
    line-height: 2rem;
}
.v-application .small small {
    font-weight: 400;
}
@media (max-width: 960px) {
    .v-content__wrap .container--fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.v-data-table td {
    font-weight: 400;
    padding: 12px 8px;
}
.v-data-table table thead tr th {
    font-weight: 400;
    padding: 0px 8px;
}
.v-data-table table tbody tr td .v-btn {
    margin-right: 0px !important;
}
.v-data-table .v-data-table-header__sort-badge {
    font-size: 10px;
}
.v-data-table.theme--dark tr th {
    color: #fff !important;
}
.theme--light .v-data-table table thead tr th {
    color: #333;
}
.v-card--wizard .v-tabs-bar .v-slide-group__wrapper {
    overflow: visible;
    display: -webkit-inline-box;
    contain: inherit;
}
.v-card--wizard .v-tabs-bar .v-slide-group__wrapper .v-slide-group__content {
    z-index: 2;
}
.v-card--wizard .v-tabs-bar .v-tab:not(:first-child) {
    margin-left: 5px;
}
.v-pagination .v-pagination__item:focus,
.v-pagination .v-pagination__navigation:focus {
    outline: none;
}
.v-alert {
    padding: 20px 15px;
}
.v-alert .v-alert__wrapper .v-alert__icon {
    height: 38px;
    min-width: 38px;
}
.v-alert .v-alert__wrapper .v-alert__content {
    font-weight: 300;
}
.v-alert .v-alert__wrapper .v-alert__content span {
    font-size: 12px;
    font-weight: 500;
}
.v-dialog .v-card {
    margin: 0;
}
.v-dialog .v-card .v-card__title {
    font-weight: 300;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 24px 24px 0;
}
.v-dialog .v-card .v-card__title .v-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #999;
    opacity: .5;
    font-size: 16px;
}
.v-dialog .v-card .v-card__title .v-icon:hover {
    opacity: 1;
}
.v-dialog > .v-card > .v-card__text {
    padding-top: 24px;
    font-weight: 300;
    line-height: 1.75em;
    letter-spacing: 0;
}
.v-chip.v-size--small {
    height: 20px;
}
.v-chip__content {
    font-size: 10px;
    font-weight: 500;
}
.v-chip__content .v-chip__close {
    font-size: 15px;
    margin-top: -1px;
}
.v-card {
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 15px;
}
  .v-card .card-title {
    font-size: 18px;
}
.v-card .v-card--material__heading {
    top: -30px;
}
.v-card .v-card--material__heading .subtitle-1 {
    color: rgba(255, 255, 255, 0.8);
}
.v-card .v-card--material__heading .display-2 {
    font-size: 18px !important;
}
.v-card .caption {
    font-size: 12px !important;
    letter-spacing: 0 !important;
}
.v-card .v-card__actions {
    padding-top: 15px;
}
.v-card .v-card__actions .display-2 {
    font-size: 18px !important;
}
.v-card .v-divider {
    border-color: #eee;
}
.v-card .ct-label {
    font-size: 14px;
}
.v-card--material-chart .v-card--material__heading .ct-label {
    font-weight: 300;
}
.v-btn--icon.v-size--default .v-icon,
.v-btn--fab.v-size--default .v-icon {
    font-size: 18px;
}
.v-card--material .v-image .v-image__image {
    border-radius: 6px;
}
.v-card__title {
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 2px;
}
.theme--light .v-card > .v-card__text {
    color: #333;
}
.theme--light .card-title {
    color: #3c4858;
}
.theme--dark .card-title {
    color: #fff;
}
.v-timeline-item .v-card {
    margin-top: 0;
}
.v-card--wizard .v-tabs-bar {
    height: 42px;
}
.v-card--wizard .v-card__actions .v-btn {
    margin-right: 0 !important;
}
.v-card--wizard .v-tabs .v-tab--active:hover::before, .v-card--wizard .theme--light.v-tabs .v-tab--active::before {
    opacity: 0;
}
.v-card--wizard .v-tabs .v-tab:hover::before {
    opacity: 0;
}
.v-card--plan .body-2 {
    font-weight: 500;
    letter-spacing: 0 !important;
    margin-top: 10px;
    margin-bottom: 8px;
}
.v-card--plan .display-2 {
    margin-top: 30px;
}
.v-card--plan .v-card__text {
    color: #999;
    margin-bottom: 16px;
}
.v-card--plan .v-btn {
    margin-right: 0 !important;
}
.v-card--plan .v-avatar {
    margin-top: 10px;
}
.v-card--testimony .v-card__text {
    color: #999 !important;
}
.v-card--testimony .display-2 {
    font-size: 18px !important;
}
.v-card--testimony .body-2 {
    font-weight: 500;
    font-size: 12px !important;
}
.v-card--testimony .v-avatar {
    left: calc(50% - 50px);
}
.ct-square:before {
    float: none;
}
.v-btn.v-size--default {
    font-size: .85rem;
}
.v-icon.v-icon {
    font-size: 20px;
}
.v-btn__content .v-icon--left {
    margin-right: 4px;
}
.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 12px 30px !important;
}
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #999;
    color: #fff;
}
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined):hover {
    background-color: #999;
    color: #fff;
}
.v-btn.white .v-btn__content {
    color: #999;
}
.v-sheet .v-btn.v-size--large:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 18px 36px !important;
}
.v-btn--fab.v-size--small {
    height: 41px;
    width: 41px;
}
.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
    opacity: 0;
}
.v-btn:not(.v-btn--text):not(.v-btn--outlined):focus:before {
    opacity: 0;
}
.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab),
.v-btn.v-size--large:not(.v-btn--icon):not(.v-btn--fab) {
    padding: 10px 15px !important;
}
.v-item-group .v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    margin-right: 0;
}
.v-btn-toggle .v-btn {
    opacity: 1;
}
.v-btn-toggle > .v-btn.v-size--default {
    height: inherit;
}
.theme--light.v-btn-toggle .v-btn.v-btn {
    border-color: #999 !important;
}
.theme--light.v-btn-toggle .v-btn.v-btn.primary {
    border-color: #e91e63 !important;
}
.theme--light.v-btn-toggle .v-btn.v-btn.secondary {
    border-color: #9c27b0 !important;
}
.theme--light.v-btn-toggle .v-btn.v-btn.success {
    border-color: #4caf50 !important;
}
.theme--light.v-btn-toggle .v-btn.v-btn.warning {
    border-color: #fb8c00 !important;
}
.theme--light.v-btn-toggle .v-btn.v-btn.error {
    border-color: #ff5252 !important;
}
.theme--light.v-btn-toggle .v-btn.v-btn.info {
    border-color: #00cae3 !important;
}
#app-bar .v-badge__badge {
    font-size: 9px;
    padding: 5px 6px;
}
.v-toolbar__content,
.v-toolbar__extension {
    padding: 0px 15px 0 31px;
}
.v-sheet .v-toolbar__content .v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab),
.v-sheet .v-toolbar__content .v-btn.v-size--large:not(.v-btn--icon):not(.v-btn--fab) {
    margin-bottom: 5px;
    padding: 10px 15px !important;
}
.v-sheet .v-toolbar__content .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #fff;
}
.v-sheet .v-toolbar__content .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) .v-icon {
    color: #999;
}
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #fff;
    margin-right: 17px;
    margin-bottom: 2px;
}
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined):hover {
    background-color: #fff;
}
.v-toolbar__content {
    height: 75px;
}
.theme--light.v-label {
    color: rgba(0, 0, 0, 0.3);
}
.v-menu__content .v-list--nav {
    padding: .3125rem 0;
    border-radius: 4px;
}
.v-menu__content .v-list--nav .v-list-item {
    padding: 10px 20px;
    margin: 0 .3125rem;
    margin-bottom: 0px !important;
    min-height: 40px;
    border-radius: 2px;
}
.v-menu__content .v-list--nav .v-list-item .v-list-item__title {
    font-weight: 400;
    font-size: 13px;
}
.v-navigation-drawer .v-icon.v-icon {
    font-size: 24px;
}



/*  -------- Доработка Bittea group --------  */
.v-application .grey {
    margin-top: -68px;
}
.v-card.v-sheet{
    .v-card__text {
        position: relative;
    }
}
.v-btn:not(.v-btn--round).v-size--default {
    height: auto!important;
}
.v-list-item--link {
	&:before {
		border-radius: 4px!important;
	}
}
nav {
	.v-list-item__title.text-body-2 {
		z-index: 3;
	}
	.theme--dark.v-list-item--active::before {
		opacity: 1!important;
		background: #43a047!important;
	}
}
.theme--dark.v-navigation-drawer .v-divider {
	border-color: rgba(255, 255, 255, 0.2)!important;
}
.user-avatar {
    display: flex;
    margin-left: 12px;
}
.user_add_avatar {
	position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #949494;
    cursor: pointer;
    margin-top: 50px;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
	&:hover {
		border-color: rgba(0, 0, 0, 0.87);
		svg {
			fill: rgba(0, 0, 0, 0.87);
		}
	}
	&.active {
		svg {
			fill: rgba(255, 255, 255, 0.5);
		}
		&:hover svg {
			fill: rgba(255, 255, 255, 1);
		}
	}
	input {
		width: 0;
		height: 0;
		opacity: 0;
	}
	span {
		margin-top: -28px;
		display: block;
	}
	img {
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		-o-object-fit: cover;
		object-fit: cover;
		z-index: 1;
		border-radius: 50%;
	}
	svg {
		z-index:2;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
	}
}
.user-info__group {
    width: calc(100% - 152px);
    padding: 0 12px 0 54px;
}
.user-info__title {
    padding-left: 20px;
    width: calc(100% - 88px);
    text-align: left;
}
.v-avatar.v-card--material__avatar {
    height: 140px!important;
    min-width: 140px!important;
    width: 140px!important;
}
.user-info__finish {
	h6.display-1.mb-1.grey--text {
		font-size: 1.1rem !important;
	}
	h4.display-1.font-weight-light.mb-3.black--text {
		font-size: 1.35rem!important;
	}
}
.table-header {
	margin-bottom: -12px;
}
.table-header__btn {
	margin-bottom: -12px;
	.user-info__title {
		width: calc(100% - 188px);
	}
	.b-user-info__square {
		&:hover {
			button.v-icon:before {
				opacity: 1;
				transform: scale(1);
			}
			i.v-icon.mdi-clipboard-text {
				opacity: 0;
				transform: scale(0);
			}
			i.v-icon.mdi-format-list-bulleted {
				opacity: 0;
				transform: scale(0);
			}
		}
		i.v-icon.mdi-clipboard-text, button.v-icon:before {
			transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
		}
		button.v-icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&:before {
				font-size: 52px;
				color: #fff;
				transform: scale(0);
				opacity: 0;
			}
		}
		.v-icon:after {
			display: none;
		}
	}
}
.v-data-table.v-data-table--fixed-header {
	thead {
		th {
			font-size: 16px!important;
		}
	}
	tr.green.lighten-3 {
		background-color: rgba(165, 214, 167, 0.4) !important;
		border-color: rgba(165, 214, 167, 0.4) !important;
	}
	tbody tr:nth-child(even) {
		background: rgba(76, 175, 80, 0.04);
	}
}
.v-toolbar__content, .v-toolbar__extension {
    padding: 4px 24px!important;
}
.b-new-article {
	min-height: 100%;
	display: flex!important;
	flex-direction: column;
	padding: 16px 26px 12px 26px;
	justify-content: space-between;
	overflow: auto;
	.v-card__text {
		max-height: max-content;
	}
}
.v-card__actions {
    max-height: max-content;
}
.b-drawer {
	position: absolute;
	top: 0px;
	display: flex;
    flex-direction: column;
	height: 100vh;
	background: #FFFFFF;
	box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
	transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    visibility: hidden;
    transition-property: transform,visibility,width;
    &.active {
		transform: translateX(0%);
		visibility: visible;
	}
}
.b-drawer--right {
	transform: translateX(100%);
	width: 30%;
	right: 0;
}
.b-drawer--left {
	transform: translateX(-100%);
	width: 70%;
	left: 0;
	padding: 23px 30px;
	button.v-btn {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 3;
		color: #c70000!important;
		margin: 18px 18px 0 0;
	}
	> div {
		height: 100%;
	}
	.cke_contents {
		height: calc(100vh - 150px)!important;
	}
}
.b-overlay {
	.v-overlay__content {
		width: 100%;
		height: 100%;
	}
}
.b-add-img__box {
	display: flex;
	justify-content: space-between;
	padding-bottom: 12px;
	.b-add-img {
		width: calc(50% - 8px);
	}
}
.b-add-img {
	position: relative;
	display: block;
	width: 100%;
	height: 150px;
	border: 1px solid #949494;
	cursor: pointer;
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
	&:hover {
		border-color: rgba(0, 0, 0, 0.87);
		svg {
			fill: rgba(0, 0, 0, 0.87);
		}
	}
	&.active {
		svg {
			fill: rgba(255, 255, 255, 0.5);
		}
		&:hover svg {
			fill: rgba(255, 255, 255, 1);
		}
	}
	span {
		margin-top: -23px;
		pointer-events: none;
		display: block;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index:1;
	}
	input {
		width: 0;
		height: 0;
	}
	svg {
		z-index:2;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
		transform: translate(-50%, -50%);
	}
}
.b-textarea {
	.v-input__control, .v-input__slot, .v-text-field__slot {
		height: 100%;
	}
}

.v-sheet button.b-btn.v-btn.v-btn--contained.v-size--default {
	padding: 13px 30px !important;
	.v-btn__content {
		font-size: 12px;
		letter-spacing: 0.6px;
		font-weight: 400;
	}
}
.b-stat__plit {
	.text-start.v-sheet {
		position: absolute!important;
	}
	.body-3 {
		padding-left: 100px;
	}
}
.v-application .b-stat__plit .ml-6 {
	margin-left: 0!important;
	width: 100%;
}
.action-confirm {
	font-family: "Roboto", sans-serif;
	a.action-btn {
		text-decoration: unset;
	}
	a#first_btn {
		background: #4CAF50;
	}
	a.close:after {
		background: linear-gradient(225.46deg, #4CAF50 4.79%, rgba(76, 175, 80, 0.3) 137.78%);
	}
	a.close:after, a.close:before {
		transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
	}
}

.v-avatar span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #70b0ff;
    font-size: 1.3rem;
}

.v-application .font-weight-thin {
    font-weight: 100 !important;
}
.v-application .font-weight-light {
    font-weight: 300 !important;
}
.v-application .font-weight-regular {
    font-weight: 400 !important;
}
.v-application .font-weight-medium {
    font-weight: 500 !important;
}
.v-application .font-weight-bold {
    font-weight: 700 !important;
}
.v-application .font-weight-black {
    font-weight: 900 !important;
}


// ------ Media ------
@media screen and (min-width: 992px) and (max-width: 1280px) {
	.b-drawer--left {
		width: calc(100% - 380px);
	}
}

@media screen and (min-width: 481px) and (max-width: 1280px) {
	.b-drawer--right {
		width: 380px;
	}
}

@media screen and (min-width: 1264px) and (max-width: 1385px) {
	.b-stat__plit {
		.body-3 {
			min-height: 48px;
		}
	}
}

@media screen and (max-width: 1400px) {
	.b-drawer--right {
		.v-card__title {
			display: none;
		}
		.v-card__text {
			padding-top: 10px;
		}
	}
}

@media screen and (min-width: 992px) {
	.b-drawer--left button.v-btn {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.b-drawer--left {
		z-index: 2;
		width: 100%;
		padding: 16px 18px;
		.cke_contents {
			height: calc(100vh - 135px) !important;
		}
		.cke_top {
			padding: 6px 46px 2px 8px;
		}
	}
	.b-table-categories {
		table {
			min-width: 885px;
		}
		.b-td--2 {
			width: 54px;
			justify-content: center;
		}
		.b-td--7 {
			width: 52px;
			justify-content: center;
		}
		.b-td--4 {
			width: calc(50% - 223px);
		}
		.b-td--5 {
			width: calc(50% - 222px);
		}
	}
	.b-table-articles {
		table {
			min-width: 885px;
		}
		.b-td--2 {
			width: 54px;
			justify-content: center;
		}
		.b-td--7 {
			width: 52px;
			justify-content: center;
		}
		.b-td--3 {
			width: calc(50% - 185px);
		}
		.b-td--4 {
			width: calc(50% - 258px);
		}
	}
}

@media screen and (max-width: 959px) {
	.user-info__fd-reverse {
		flex-direction: column-reverse;
	}
}

@media screen and (min-width: 596px) and (max-width: 662px) {
	.b-drawer--left {
		.cke_contents {
			height: calc(100vh - 168px) !important;
		}
	}
}

@media screen and (min-width: 417px) and (max-width: 595px) {
	.b-drawer--left {
		.cke_contents {
			height: calc(100vh - 202px) !important;
		}
	}
}

@media screen and (max-width: 560px) {
	.user-info__group {
		width: 100%;
		padding: 0 12px 0 12px;
	}
	.user-avatar {
		margin-left: 0;
		margin-bottom: 14px;
	}
	.user_add_avatar {
		margin-top: 30px;
	}
	.user-info__row {
		.col-md-6.col-12 {
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

@media screen and (max-width: 480px) {
	.b-drawer--right {
		width: 100%;
	}
	.action-confirm {
		left: 50%!important;
		top: 50%!important;
		transform: translate(-50%, -50%)!important;
		&:before {
			display: none;
		}
		&.left {
			margin-left: 0!important;
		}
	}
	.table-header__btn {
		margin-bottom: 0;
		.user-info__title {
			width: calc(100% - 88px);
		}
		.d-flex {
			margin: 0 auto;
			margin-bottom: 6px;
			margin-top: -8px;
		}
	}
	header {
		.v-toolbar__title {
			padding-left: 10px!important;
		}
		button.ml-2.v-btn.v-btn--flat.v-btn--text.theme--light.v-size--default {
			padding: 6px 6px !important;
			margin-left: 5px!important;
		}
	}
}

@media screen and (min-width: 350px) and (max-width: 480px) {
	.action-confirm {
		width: 320px;
	}
}

@media screen and (min-width: 367px) and (max-width: 416px) {
	.b-drawer--left {
		.cke_contents {
			height: calc(100vh - 234px) !important;
		}
	}
}

@media screen and (min-width: 328px) and (max-width: 366px) {
	.b-drawer--left {
		.cke_contents {
			height: calc(100vh - 268px) !important;
		}
	}
}

@media screen and (max-width: 327px) {
	.b-drawer--left {
		.cke_contents {
			height: calc(100vh - 298px) !important;
		}
	}
}

@media screen and (max-width: 420px) {
	.v-main__wrap > .container > .row > .col {
		padding-left: 0;
		padding-right: 0;
	}
	header {
		.v-toolbar__content, .v-toolbar__extension {
			padding: 4px 12px!important;
		}
	}
}

@media screen and (max-width: 350px) {
	.action-confirm {
		width: 296px;
	}
}
